@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --primary: #ffff5c;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --ring: #94a3b8;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --popover: #0f172a;
    --popover-foreground: #f8fafc;

    --card: #0f172a;
    --card-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;

    --primary: #f8fafc;
    --primary-foreground: #1e293b;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.team-logo-shadow {
  box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15), 0 0 0 10px #f3f5f9;
}

/* ///swiper navigation start */

@media (max-width: 768px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 30px !important;
  }
}

/* ///swiper navigation end */
@media (max-width: 500px) {
  .scorecard-custom {
    width: 280px !important;
    margin: auto;
  }
}

/* //spinner-start */

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  fill: none;
  stroke: hsl(210, 70%, 75%);
  stroke-width: 6;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* //spinner-end */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* //nprogress customizations   */
#nprogress .bar {
  background: #16a34a !important;
  height: 3px !important;
  z-index: 9999 !important;
}
